
<div class="base">
  <div class="baseFirstDiv">
    <div>
      <h2>News</h2>
    </div>
    <div class="baseContact">
      <h2>Contact</h2>
      <p>Email: ebi1926b@gmail.com</p>
      <p>Phone: +234-8166545589</p>
    </div>
  </div>
  <div class="footerDiv">
    <footer><h5>HanBlaze copyright 2023</h5></footer>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
  <script src="/js/index.js"></script>
  <script src="/main.js"></script>
  </div>
</body>
</html>