<%- include("partials/header") -%>
<body>
    <div class="aPMDiv ">
        <div class="webIntroMain">
           <div class="welcomeDiv">
            <h1>Welcome to</h1>
            <h1 class="brandName">Paw Library</h1>
           </div>
            <div class="webinfo card">
                <p class="webinfop">PAW Lib is an Academic library designed for undergraduate and post-graduate studies. Its organized accordind to Faculties and department model used in schools
                    Each Faculty holds its deparments where all needed books is held. FACULTY => DEPARTMENT => BOOKS 
                </p>
            </div>
            <div class="">

            </div>

        </div>
        <nav class="apmnav card">
            <ul class="apmul">
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        
    </div>
<%- include("partials/aboutfooter") -%>