<%- include("partials/homeheader") -%>

<div class="advert">
    <div class="slide one card activate">
        <img src="images/fang-wei-lin-H1IRUS1vEFA-unsplash.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet porttitor eget dolor morbi non arcu. Placerat orci nulla pellentesque dignissim.</p>
      </div>
      <div class="slide two card">
        <img src="images/robina-weermeijer-z8_-Fmfz06c-unsplash.jpg" alt="">
      </div>
      <div class="adNavigationBtn">
        <div class="btn activate"></div>
        <div class="btn"></div>
      </div>

</div>
<div class="unknown"></div>

<%- include("partials/footer") -%>